<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Human Resource</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker3.min.css" />
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div id="ajax_response" role="alert">
        </div>

        <div class="btn-group" role="group">
            <!-- top dropdown, project selector -->
            <div class="btn-group" role="group">
                <button class="btn btn-default dropdown-toggle" type="button"
                        id="project_dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Projects<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="project list"
                    id="project_list"></ul>
            </div>
            <!-- new project button -->
            <button type="button" id="new_proj_btn" class="btn btn-default"
                    data-toggle="modal" data-target="#new_proj">New Project</button>
        </div>

        <div th:if="${projectDto} != null">
            <h3 id="project_title"
                th:text="${projectDto.name}+'('+${projectDto.startDate}+'--'+${projectDto.endDate}+')'">
                Project name(start--end)</h3>
        </div>

        <!-- employee multi-select -->
        <div>
            <div class="row">
                <div class="col-xs-5">
                    <b>Employee name list</b>
                    <div th:if="${projectDto} != null">
                        <select name="from[]" id="multiselect" class="form-control" multiple="multiple">
                            <option th:each="name : ${projectDto.remainList}" th:text="${name}"></option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-2">
                    <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                </div>

                <div class="col-xs-5">
                    <b>Employees selected:</b>
                    <div th:if="${projectDto} != null">
                        <select name="to[]" id="multiselect_to" class="form-control" multiple="multiple">
                            <option th:each="name : ${projectDto.selectedList}" th:text="${name}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <button id="submit_btn" type="submit" class="btn btn-primary">Submit</button>
        </div>

        <!-- add project panel -->
        <div class="modal fade" id="new_proj" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">New Project</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="f_proj_name">Project name:</label>
                                <input type="text" class="form-control" id="f_proj_name" name="projectName" autofocus="autofocus" />
                            </div>
                            <div class="form-group">
                                <label for="f_start_date">Start Date:</label>
                                <input type="text" class="form-control" id="f_start_date" name="startDate"/>
                            </div>
                            <div class="form-group">
                                <label for="f_end_date">End Date:</label>
                                <input type="text" class="form-control" id="f_end_date" name="endDate"/>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="new_proj_submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/timesheet/js/multiselect.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.min.js"></script>
    <script src="/timesheet/js/project.js"></script>
</body>
</html>